<!-- fenxiang BEGIN -->
<div class="share-component" data-title="《{{ page.title }}》from {{ site.title }}">
    <div class="sns-share">
    <a href="" class="qzone"><i class="icon iconfont icon-qzone"></i></a>
    <a href="" class="qq"><i class="icon iconfont icon-qq"></i></a>
    <a href="" class="weibo"><i class="icon iconfont icon-weibo"></i></a>
    <a href="" class="wechat"><i class="icon iconfont icon-wechat"></i></a>
    <a href="" class="douban"><i class="icon iconfont icon-douban"></i></a>
    </div>
</div>
<!-- fenxiang END -->


