<footer class="site-footer">

    <div class="wrapper">

<!-- Copyright -->
        <div class="copyright">
            <p>
                本站总访问量<span id="busuanzi_value_site_pv"></span>次，您是本站第<span id="busuanzi_value_site_uv"></span>个小伙伴
            </p>
            <ul class="menu">
                <li>&copy; <a href="http://www.tycn.me">Tycn</a>. All rights reserved</li>
            </ul>

        </div>

    </div>

</footer>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
